  
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="selected-user">
          <span>Total number of Participants: <span class="name"> 4 </span></span>
      </div>
      <div class="chat-container">
          <ul class="chat-box chatContainerScroll">
              <li class="chat-left">
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/234807762_1597116257161462_5882534356634690903_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFEwUjRsWOWttMCOiAuoTyWjtoJ4YzBOWuO2gnhjME5az0Y2Iw6IC52qthEi8hfUCWceMstQzJVQhxXTxEfDIyo&_nc_ohc=f2dH2RCEiysAX8K4c5T&_nc_ht=scontent-cdg4-1.xx&oh=00_AfAF8g8RctfRfe1wzNLGR8eNPBlN6JcfFEosKo7sCHwNCA&oe=644653DF" alt="Retail Admin">
                      <div class="chat-name">Chris</div>
                  </div>
                  <div class="chat-text">Hello, I'm Chris.
                      <br>How can I help you today?</div>
                  <div class="chat-hour">&#8226 a while ago</div>
              </li>
              <li class="chat-right">
                  <div class="chat-hour">&#8226 a while ago</div>
                  <div class="chat-text">Hi, Chris
                      <br> I need more information about Developer Plan.</div>
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/284546708_1720696118328784_2079068603578889750_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEZaK5ysB9NOZ3NQtkPlKXrBm3L9LG4t38Gbcv0sbi3f86O1FAn1NfMxyF45F28CX1-c1JQ2ncStjpwgSmpVkC9&_nc_ohc=r7e-O9D6BhEAX_xyc0i&_nc_ht=scontent-cdg4-1.xx&oh=00_AfCyd6CQ0zNTEU6H7h19qoJI4T4i4nOzpw8acUsgW-mVxA&oe=64471C2C" alt="Retail Admin">
                      <div class="chat-name">Diel</div>
                  </div>
              </li>
              <li class="chat-left">
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/234807762_1597116257161462_5882534356634690903_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFEwUjRsWOWttMCOiAuoTyWjtoJ4YzBOWuO2gnhjME5az0Y2Iw6IC52qthEi8hfUCWceMstQzJVQhxXTxEfDIyo&_nc_ohc=f2dH2RCEiysAX8K4c5T&_nc_ht=scontent-cdg4-1.xx&oh=00_AfAF8g8RctfRfe1wzNLGR8eNPBlN6JcfFEosKo7sCHwNCA&oe=644653DF" alt="Retail Admin">
                      <div class="chat-name">Chris</div>
                  </div>
                  <div class="chat-text">Are we meeting today?
                      <br>Project has been already finished and I have results to show you.</div>
                  <div class="chat-hour">&#8226 a while ago</div>
              </li>
              <li class="chat-right">
                  <div class="chat-hour">&#8226 a while ago</div>
                  <div class="chat-text">Well I am not sure.
                      <br>I have results to show you.</div>
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-2.xx.fbcdn.net/v/t1.6435-9/164507835_252469499865048_2699699373402175059_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHPA9q1_IPCeB9RWQPU8V9xUvYDtBR_MqxS9gO0FH8yrMnD4SK0Ly9CUhAE0VglW4IyZ-opm_0w51dfSA8faVdW&_nc_ohc=JUnJ29MmZL8AX9MbXO3&_nc_ht=scontent-cdg4-2.xx&oh=00_AfDw7lRayftqsQBWcJRPHWpf8KupVdU6rZqVqRcpbYSZog&oe=6468EB0F" alt="Retail Admin">
                      <div class="chat-name">Princess</div>
                  </div>
              </li>
              <li class="chat-left">
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/234807762_1597116257161462_5882534356634690903_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFEwUjRsWOWttMCOiAuoTyWjtoJ4YzBOWuO2gnhjME5az0Y2Iw6IC52qthEi8hfUCWceMstQzJVQhxXTxEfDIyo&_nc_ohc=f2dH2RCEiysAX8K4c5T&_nc_ht=scontent-cdg4-1.xx&oh=00_AfAF8g8RctfRfe1wzNLGR8eNPBlN6JcfFEosKo7sCHwNCA&oe=644653DF" alt="Retail Admin">
                      <div class="chat-name">Chris</div>
                  </div>
                  <div class="chat-text">The rest of the team is not here yet.
                      <br>Maybe in an hour or so?</div>
                  <div class="chat-hour">&#8226 a while ago</div>
              </li>
              <li class="chat-right">
                  <div class="chat-hour">&#8226 a while ago</div>
                  <div class="chat-text">Have you faced any problems at the last phase of the project?</div>
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t1.6435-9/195942672_201850765155981_5608808696082965790_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHa1To1sGnhfjo9IOReQWlyk2tpCdfL6ZuTa2kJ18vpm4s8NLMaspeQAv0EJPPCgDyAgciBahnEriZreEqK8XZQ&_nc_ohc=4e_B5fXqaNIAX_180f0&_nc_ht=scontent-cdg4-1.xx&oh=00_AfBr7DYwCF51Xkbq3The1UasN2Y3paMPlqMyDWBaTmBDOQ&oe=6468C6E1" alt="Retail Admin">
                      <div class="chat-name">Ronnie</div>
                  </div>
              </li>
              <li class="chat-left">
                  <div class="chat-avatar">
                      <img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/234807762_1597116257161462_5882534356634690903_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFEwUjRsWOWttMCOiAuoTyWjtoJ4YzBOWuO2gnhjME5az0Y2Iw6IC52qthEi8hfUCWceMstQzJVQhxXTxEfDIyo&_nc_ohc=f2dH2RCEiysAX8K4c5T&_nc_ht=scontent-cdg4-1.xx&oh=00_AfAF8g8RctfRfe1wzNLGR8eNPBlN6JcfFEosKo7sCHwNCA&oe=644653DF" alt="Retail Admin">
                      <div class="chat-name">Chris</div>
                  </div>
                  <div class="chat-text">Actually everything was fine.
                      <br>I'm very excited to show this to our team.</div>
                  <div class="chat-hour">&#8226 a while ago</div>
              </li>
          </ul>
          <div class="form-group mt-3 mb-0">
              <textarea class="form-control" rows="2" placeholder="Type your message here..."></textarea>
          </div>
          <span>
          <button class="btn">
            Send
          </button>
        </span>
      </div>
  </div>
</div>