<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
  </header>

<div class="container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
           
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 "></div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <%- include('../partials/container'); %>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<script>
window.onload = function() {
    let win;
  let person = prompt("Please enter your name:", "");
  if (person == null || person == "") {
    win = "User cancelled the prompt.";
  } else {
    win = "Hello " + person + "Have fun with others";
  }

  alert(win);
};
</script>
</body>


</html>